<h1 class="ui header">キャラクターカレンダー</h1>

<div class="ui buttons" style="padding-bottom: 10px;">
  <%= link_to "カレンダー", root_path, class: "ui button primary" =%>
  <%= link_to "一覧", characters_path, class: "ui button" =%>
</div>

<%= month_calendar do |date| %>
  <%= date.day %>

  <%# 誕生日のキャラクター名を表示 %>
  <% @characters.each do |character| %>
    <% if character.month == date.month && character.day == date.day %>
      <div><%= character.name %></div>
    <% end %>
  <% end %>
<% end %>
