<h1 class="ui header">キャラクターカレンダー</h1>

<%# ログイン、ログアウト　%>
<% if user_signed_in? %>
  <%= button_to 'ログアウト', destroy_user_session_path, form: { style: "display: inline;" }, method: :delete, class: "ui button" %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path, class: "ui button" %>
<% end %>


<div class="ui buttons" style="padding-bottom: 10px;">
  <%= link_to calendar_index_path, class: "ui button primary" do %>
    <i class="calendar icon"></i> カレンダー
  <% end %>
  <%= link_to characters_path, class: "ui button" do %>
    <i class="list icon"></i> リスト
  <% end %>
</div>

<%= month_calendar do |date| %>
  <%= date.day %>

  <%# 誕生日のキャラクター名を表示 %>
  <% @characters.each do |character| %>
    <% if character.month == date.month && character.day == date.day %>
      <div><%= character.name %></div>
    <% end %>
  <% end %>
<% end %>
