<h1 class="ui header">キャラクターの編集</h1>

<% if @character.errors.any? %>
    <div class="ui error message">
        <div class="header">次の項目を確認してください:</div>
        <ul class="list">
            <% @character.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<%= form_with model: @character, class: "ui form" do |form| %>
    <div class="field">
        <%= form.label :name, "名前:", class: "ui label" %>
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.label :nickname, "ニックネーム:", class: "ui label" %>
        <%= form.text_field :nickname %>
    </div>
    <div class="two fields">
        <div class="field">
            <%= form.label :month, "月:", class: "ui label" %>
            <%= form.text_field :month %>
        </div>
        <div class="field">
            <%= form.label :day, "日:", class: "ui label" %>
            <%= form.text_field :day %>
        </div>
    </div>
    <div class="field">
        <%= form.label :tag, "タグ:", class: "ui label" %>
        <%= form.text_field :tag %>
    </div>
    <div class="field">
        <%= form.label :icon_image, "アイコン:", class: "ui label" %>
        <%= form.text_field :icon_image %>
    </div>
    <div class="field">
        <%= form.label :description, "説明:", class: "ui label" %>
        <%= form.text_field :description %>
    </div>
    <div class="field">
        <%= form.submit "更新", class: "ui button primary" %>
        <%= link_to "戻る", characters_path, class: "ui primary button" %>
    </div>
<% end %>
