<h1 class="ui header">キャラクター一覧</h1>

<div class="ui buttons" style="padding-bottom: 10px;">
  <%= link_to root_path, class: "ui button" do %>
    <i class="calendar icon"></i> カレンダー
  <% end %>
  <%= link_to characters_path, class: "ui button primary" do %>
    <i class="list icon"></i> リスト
  <% end %>
</div>

<div class="ui grid" style="padding-bottom: 10px;">
  <div class="eight wide column">
    <%= form_tag(characters_path, method: "get", class: "ui form") do %>
      <div class="ui action input">
        <%= text_field_tag :search, params[:search], placeholder: "キーワードを指定" %>
        <button type="submit" class="ui icon button primary"><i class="search icon"></i></button>
      </div>
    <% end %>
  </div>

  <div class="eight wide column" style="text-align: end;">
    <%= link_to new_character_path, class: "ui button primary" do %>
        <i class="plus icon"></i>新規登録
    <% end %>
  </div>
</div>

<p><%= @start_index %>～<%= @end_index %> 件を表示 ／ 全 <%= @characters_count %> 件</p>

<div style="text-align: center; padding-bottom: 10px;">
    <%= paginate @characters %>
</div>

<div class="ui cards">
    <% @characters.each do |character| %>
        <div class="ui card character-card">
            <div class="character-name"><%= character.name %></div>
            <div class="character-image"></div>
            <div>
                誕生日：
                <span><%= character.month %></span><span>月<span>
                <span><%= character.day %></span><span>日<span>
            </div>
            <div class="character-tag-area">
                <% if character.tag.present? %>
                    <span class="character-tag"><%= character.tag %></span>
                <% end %>
            </div>

            <div class="button-container">
                <%= link_to edit_character_path(character), class: "ui primary button" do %>
                    <i class="edit icon"></i>編集
                <% end %>
                <%= button_to character_path(character), method: :delete, class: "ui button" do %>
                    <i class="trash icon"></i>削除
                <% end %>
            </div>
        </div>
    <% end %>
</div>

