<h1>キャラクター一覧</h1>

<div>
    <%= link_to "カレンダーへ", root_path =%>
</div>

<%= form_tag(characters_path, method: "get") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "検索" %>
<% end %>

<div>
    <%= link_to "新規追加", new_character_path =%>
</div>

<ul>
    <% @characters.each do |character| %>
        <li>
            <div><%= character.name %></div>

            <div>
                誕生日：
                <span><%= character.month %></span><span>月<span>
                <span><%= character.day %></span><span>日<span>
            </div>
        </li>
        <div>
            <%= link_to "編集", edit_character_path(character), class: "ui primary button" %>
            <%= button_to "削除", character_path(character), method: :delete %>
        </div>
    <% end %>
</ul>

<%= paginate @characters %>