<h1>キャラクター一覧</h1>

<div>
    <%= link_to "カレンダーへ", root_path =%>
</div>

<%= form_tag(characters_path, method: "get") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "検索" %>
<% end %>

<div>
    <%= link_to new_character_path, class: "ui button primary" do %>
        <i class="plus icon"></i>新規追加
    <% end %>
</div>

<div class="ui cards">
    <% @characters.each do |character| %>
        <div class="ui card character-card">
            <div class="character-name"><%= character.name %></div>
            <div class="character-image"></div>
            <div>
                誕生日：
                <span><%= character.month %></span><span>月<span>
                <span><%= character.day %></span><span>日<span>
            </div>
            <div class="character-tag-area">
                <% if character.tag.present? %>
                    <span class="character-tag"><%= character.tag %></span>
                <% end %>
            </div>

            <div class="button-container">
                <%= link_to edit_character_path(character), class: "ui primary button" do %>
                    <i class="edit icon"></i>編集
                <% end %>
                <%= button_to character_path(character), method: :delete, class: "ui button" do %>
                    <i class="trash icon"></i>削除
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<%= paginate @characters %>