<h1 class="ui header">キャラクターの追加</h1>

<% if @character.errors.any? %>
    <div class="ui error message">
        <div class="header">次の項目を確認してください:</div>
        <ul class="list">
            <% @character.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with model: @character, class: "ui form" do |form| %>
    <div class="field">
        <%= form.label :name, "名前", class: "ui label" %>
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.label :nickname, "ニックネーム", class: "ui label" %>
        <%= form.text_field :nickname %>
    </div>
    <div class="two fields">
        <div class="field">
            <%= form.label :month, "月", class: "ui label" %>
            <%= form.select :month, options_for_select((1..12).to_a), { include_blank: true } %>
        </div>
        <div class="field">
            <%= form.label :day, "日", class: "ui label" %>
            <%= form.select :day, options_for_select((1..31).to_a), { include_blank: true } %>
        </div>
    </div>
    <div class="field">
        <%= form.label :tag, "タグ", class: "ui label" %>
        <%= form.text_field :tag %>
    </div>
    <div class="field">
        <%= form.label :icon_image, "アイコン", class: "ui label" %>
        <%= form.text_field :icon_image %>
    </div>
    <div class="field">
        <%= form.label :description, "説明", class: "ui label" %>
        <%= form.text_field :description %>
    </div>
    <div class="field" style="text-align:center;">
        <%= form.submit "登録", class: "ui button primary" %>
        <%= link_to "戻る", characters_path, class: "ui primary button" %>
    </div>

<% end %>
