<h1>キャラクターの追加</h1>

<%= form_with model: @character do |form| %>
    <div>
        <%= form.label :name, "名前:" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :nickname, "呼び名:" %>
        <%= form.text_field :nickname %>
    </div>
    <div>
        <%= form.label :birthday, "誕生日:" %>
        <%= form.text_field :birthday %>
    </div>
    <div>
        <%= form.label :tag, "タグ:" %>
        <%= form.text_field :tag %>
    </div>
    <div>
        <%= form.label :icon_image, "アイコン:" %>
        <%= form.text_field :icon_image %>
    </div>
    <div>
        <%= form.label :description, "説明:" %>
        <%= form.text_field :description %>
    </div>
    <div>
        <%= form.submit "保存" %>
    </div>
<% end %>