<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form", style: "width: 400px;" }) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス", class: "ui label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード", class: "ui label" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Remember me" %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "ui button primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
